* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e5e5e5;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;

}

.form-page {
    width: 750px;
    margin: auto;
}

header {
    margin-top: 60px;
    width: 420px;
}

header > h1 {
    font-family: "Staatliches", sans-serif;
    font-size: 48px;
    line-height: auto;
    font-weight: bold;

    color: #ffffff;

    margin-bottom: 18px;
}

header > p {
    color: #ffffff;

    font-size: 20px;

    margin-bottom: 56px;
}

form {
    background: #ffffff;
    border-radius: 20px ;
    min-height: 300px;

    padding: 64px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset {
    border: none;
}

.fieldset-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset > .fieldset-information > legend {
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    line-height: 34px;

    color: #535971;

    width: 100%;
    border-bottom: 1px solid #E6E6F0;

    padding-bottom: 16px;
}   

.input-information {
    display: flex;
    flex-direction: column;

}

.col-2{
    display: flex;
    gap: 22px;
}

.col-2 > div:nth-child(1){
    width: 100%;
}

.col-2 > div:nth-child(2){
    width: 100%;
}

.input-information > label {
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
}

.input-information > label > span {
    font-size: 12px;
    line-height: 20px;

    color: #C1BCCC;

    margin-left: 10px;
}

.input-information > input {
    background: #E6E6F0;

    border: 1px solid #FAFAFC;
    border-radius: 8px;
    height: 56px;
}